@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .tab-page-link::before {
        content: '';
        @apply absolute top-0 left-0 z-20 block w-full h-full;
    }
}
