{{ 'video-banner.css' | asset_url | stylesheet_tag}}

<div class="video-banner-container">
    <div class="video-content">
        {{
            section.settings.video
            | video_tag:
              image_size: '1920x',
              autoplay: true,
              loop: true,
              controls: false,
              muted: true
          }}
    </div>
</div>

{% schema %}
  {
    "name": "video banner",
    "tag": "section",
    "class": "video-banner",
    "settings": [
       { 
        "type": "video",
        "id": "video",
        "label": "Video"
       }
    ],
    "presets": [
      {
        "name": "video-banner",
        "settings": {
        }
      }
    ]
  }
{% endschema %}