
.grid__item img {
    width: 100%;
    height: auto;
}

.variant-values__firmness .progress-bar__list {
    width: 20%;
    height: 8px;
    background-color: rgb(19, 62, 191);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.variant-values__firmness .progress-bar__list.half {
    background-image: linear-gradient(
        to right, /* Direction of the gradient */
        rgb(19, 62, 191) 50%, /* Black color stops at 50% */
        rgb(216, 219, 230) 50%    /* Red color starts right at 50% */
    );
}

.variant-values__firmness .rest_value {
    height: 8px;
    width: 20%;
    display: flex;
    background-color: rgb(216, 219, 230);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.variant-values__firmness, .variant-values__support, .variant-values__cooling, .variant-values__pressure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.variant-values__support .progress-bar__list {
    width: 20%;
    height: 8px;
    background-color: rgb(174, 141, 196);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.variant-values__support .progress-bar__list.half {
    background-image: linear-gradient(
        to right, /* Direction of the gradient */
        rgb(174, 141, 196) 50%, /* Black color stops at 50% */
        rgb(216, 219, 230) 50%    /* Red color starts right at 50% */
    );
}

.variant-values__support .rest_value {
    height: 8px;
    width: 20%;
    display: flex;
    background-color: rgb(216, 219, 230);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.variant-values__cooling .progress-bar__list {
    width: 20%;
    height: 8px;
    background-color: rgb(143, 184, 204);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.variant-values__cooling .progress-bar__list.half {
    background-image: linear-gradient(
        to right, /* Direction of the gradient */
        rgb(143, 184, 204) 50%, /* Black color stops at 50% */
        rgb(216, 219, 230) 50%    /* Red color starts right at 50% */
    );
}

.variant-values__cooling .rest_value {
    height: 8px;
    width: 20%;
    display: flex;
    background-color: rgb(216, 219, 230);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.variant-values__pressure .progress-bar__list {
    width: 20%;
    height: 8px;
    background-color: rgb(97, 184, 192);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.variant-values__pressure .progress-bar__list.half {
    background-image: linear-gradient(
        to right, /* Direction of the gradient */
        rgb(97, 184, 192) 50%, /* Black color stops at 50% */
        rgb(216, 219, 230) 50%    /* Red color starts right at 50% */
    );
}
.variant-values__pressure .rest_value {
    height: 8px;
    width: 20%;
    display: flex;
    background-color: rgb(216, 219, 230);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.variant-values__wrapper {
    gap: 2px;
    display: flex;
    width: 75%;
    height: auto;
}

.variant-element {
    width: 25%;
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(88, 98, 128);
    text-transform: capitalize;
}


.variant-subtitle {
    margin: 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: rgb(38, 43, 56);
}

.variant-description {
    margin: 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgb(88, 98, 128);
}

.variant-values {
    padding-top: 32px;
}

.grid__item {
    border: 1px solid rgb(216, 219, 230);
    border-radius: 8px;
    overflow: hidden;
}


.variant-detail {
    padding: 0 24px;
    border-bottom: 1px solid rgb(216, 219, 230);
}

.variant-buying {
    padding: 16px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.variant-price {
    margin: 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: rgb(19, 62, 191);
}

.product-form__submit {
    padding: 0px 24px;
    height: 48px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    background: rgb(19, 62, 191);
    color: rgb(255, 255, 255);
    border-radius: 200px;
    text-transform: initial;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
    position: absolute;
    bottom: 16px;
    left: 16px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #fff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    background: rgb(19, 62, 191);
  }
  
  /* Rounded sliders */
  .slider.round {
    width: 100%;
    border-radius: 34px;
    background: rgb(88, 98, 128);
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.variant-image {
    position: relative;
}

.compare-variant-btn.disabled{
    background: rgb(182, 188, 204);
    padding: 0px 32px;
    height: 56px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 200px;
    text-transform: initial;
    transition: 0.3s;
}

.compare-variant-btn {
    background: rgb(19, 62, 191);
    color: rgb(255, 255, 255);
    border-radius: 200px;
    text-transform: initial;
    padding: 0px 32px;
    height: 56px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.compare-vairant {
    z-index: 9999;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.85) 70.59%, rgb(255, 255, 255) 100%);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 40px 0px;
    cursor: pointer;

}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    z-index: 1200;
    position: fixed;
    top: 0px;
    outline: 0px;
    right: 0px;
    overflow: hidden auto;
    display: none;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    width: 520px;
    height: 100%;
    padding: 24px 24px 40px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    /* left: 0px; */
    right: 20px;
    z-index: 1;
    width: 40px;
    height: 40px;
    background: rgb(245, 247, 252);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.modal-close-button svg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 24px;
    color: rgb(88, 98, 128);
}

.modal-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-family: Roobert, Arial, Helvetica, sans-serif;
}


.grid__item.modal-item {
  width: 100%;
}

.product-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}